<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div class="sticky-menu"
       #stickyMenu
       [class.sticky] = "sticky">
    <div class="navbar-brand">
      <img
        width="170"
        alt="Angular Logo"
        src="https://www.ominext.com/themes/omiintro/assets/image/logo.svg"
      />
    </div>
  </div>

  <nav class="navbar-light">
    <ul class="dynamic-menu">
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </nav>

  <div class="spacer"></div>
  <div class="cart-wrapper" #stickyMenu
      [class.sticky] = "sticky">
    <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i></a>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * BU1 - Thien's function * * * * * * * * * *-->

<div class="component-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * End of BU1 - Thien's function * * * * * * * * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




