<h2>List of Products</h2>
<div class="product-list-section">
  <div class="product-blocks"*ngFor="let product of products; index as productId">
    <a [routerLink]="['/products', productId]">
      <img src="{{ product.src }}" alt="">
    </a>
    <div class="product-name">
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a>
    </div>
    <div class="product-description" *ngIf="product.description">
      Description: {{ product.description }}
    </div>
    <div class="sharing">
      <button class="btn-share btn" (click)="share()">
        Share
      </button>
    </div>


    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>

  </div>
</div>

