<!--<h3>Heroes</h3>-->
<!--<div>-->
<!--  <label>Hero name:-->
<!--    <input #heroName />-->
<!--  </label>-->
<!--  &lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;-->
<!--  <button (click)="add(heroName.value); heroName.value=''">-->
<!--    add-->
<!--  </button>-->
<!--&lt;!&ndash;  <button (click)="search(heroName.value)">&ndash;&gt;-->
<!--&lt;!&ndash;    search&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--</div>-->

<!--<ul class="heroes">-->
<!--  <li *ngFor="let hero of heroes">-->
<!--    <a (click)="edit(hero)">-->
<!--      <span class="badge">{{ hero.id || -1 }}</span>-->
<!--      <span *ngIf="hero!==editHero">{{hero.name}}</span>-->
<!--      <input *ngIf="hero===editHero" [(ngModel)]="hero.name"-->
<!--             (blur)="update()" (keyup.enter)="update()">-->
<!--    </a>-->
<!--    <button class="delete" title="delete hero"-->
<!--            (click)="delete(hero)">x</button>-->
<!--  </li>-->
<!--</ul>-->


<!--&lt;!&ndash;-->
<!--Copyright Google LLC. All Rights Reserved.-->
<!--Use of this source code is governed by an MIT-style license that-->
<!--can be found in the LICENSE file at http://angular.io/license-->
<!--&ndash;&gt;-->
